<div class="panel panel-default">
    <div class="panel-body">
        <div class="tomato-grid-panel__search-bar input-group col-sm-4"style="width:2000px" >
     
  <select ng-model="vm.selectedAnnouncementType" ng-init="vm.selectedAnnouncementType='- ALL -'">
                  <option selected>- ALL -</option>   
      <option ng-repeat="x in vm.filteredData|unique:'Type'">{{x.Type.Title}}</option>
          </select>
     : Select a Type to filter your data      
    </div>
       </div> 
    <table class="table table-striped table-responsive table-hover announcements_table">
        <thead class="thead-default">
            <tr class="announcements_table_thead">
                <th class="col-md-5">Title</th>
                <th class="col-md-3">Date</th>
                <th class="col-md-2">Type</th>
                <th class="col-md-3">Created by (Owner)</th>
            </tr>
        </thead>
        <tbody class="announcements_table_tbody">
            <tr ng-if="vm.selectedAnnouncementType == '- ALL -' || vm.selectedAnnouncementType === null || announcement.Type.Title === vm.selectedAnnouncementType"
            ng-repeat="announcement in vm.filteredData | filter: vm.searchText | orderBy : ['-Date']">
                <td class="col-md-5">{{announcement.Title}}</td>
                <td class="col-md-3">{{announcement.Date | date: 'MMM. d,yyyy'}}</td>
                <td class="col-md-2">
                    <span class="{{announcement.Type.Icon}}" title="{{announcement.Type.Title}}"></span>
                </td>
                <td class="col-md-3">{{announcement.Owner}}</td>
            </tr>
        </tbody>
    </table>
</div>